/* css reset */
*{
    margin: 0px;
    padding: 0px;
    font-family: serif;
}

/* body{
    background-color: black;
} */


/* CSS variables */
:root{
    --navbar-height: 59px;
}


/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* Navigation Bar: logo and image */
#logo{
margin: 3px 40px;
}
#logo img{
margin: 5px 8px;
}


/* Navigation Bar: List Item */

#navbar ul{
    display: flex;
    
}
#navbar::before{
    content: " ";
    background-color: rgb(171, 179, 149);
    position: absolute;
    height: 130%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navbar ul li{
    font-weight: 600;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    font-family: 'Oswald', sans-serif;
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 8px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}



/* HOME section */
#home{
    display: flex;
    flex-direction: column;
    padding: 220px 200px;
    height: 97px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: " ";
    background: url('img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 109%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    margin-bottom: 20px;
}
#home h1{
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* Services Section */
.services{
    margin-top: 170px;
}
#services{
    margin: 20px;
    display: flex;

}
#services .box{
    border: 2px solid black;
    margin: 3px 10px;
    padding: 15px 5px;
    border-radius: 11px;
    background-color: rgba(237, 238, 228, 0.355);
}
#services .box img{
    height: 170px;
    margin: auto;
    display: block;

}

/* Clients Section */

#client-section{
    margin-top: 70px;
    height: 400px;
}
#client-section::before{
    content: " ";
    background: url('img/bg3.jpg') no-repeat center center/cover;
    position: absolute;
    height: 45%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
     margin: 1px 30px;
    padding: 1px 1px;
}

/* Contact section  */
#contact{
position: relative;
}
#contact::before{
    content: " ";
    background: url('img/cu2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 44px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
}
#contact-box form{
    width: 30%;
}
#contact-box label{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

footer{
    /* font-family: 'Oswald', sans-serif; */
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    padding: 6px 10px;
    font-size: 1rem;
}






/* utility section */

#home p{
    color: rgb(0, 0, 0);
    text-align: center;
}
.h-primary{
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    padding: 12px;
}

.btn{
    /* font-family: 'Oswald', sans-serif; */
    padding: 5px 15px;
    border: 2px solid black;
    background-color: rgb(192, 174, 174);
    color: rgb(0, 0, 0);
    margin: 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    /* background-color: rgb(217, 210, 204); */
    border-radius: 25px;
}

.center{
    text-align: center;
}





